<div id="auth" class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a >
            <b>LABTEAM LOGIN</b>
            </a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <form (ngSubmit)="login()" #f="ngForm" >
                    <p class="login-box-msg">Sign in to start your session</p>
                    <div>
                        <div class="input-group mb-3">
                        <input
                            [(ngModel)]="user.username"
                            class="form-control"
                            type="text"
                            name="email"
                            placeholder="Username"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        </div>
                        <div class="input-group mb-3">
                        <input
                            [(ngModel)]="user.password"
                            class="form-control"
                            type="password"
                            name="pass"
                            placeholder="Password"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                            <input type="checkbox" id="remember" />
                            <label for="remember">Remember Me</label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button class="btn btn-primary btn-block"  >Sign In</button>
                        </div>
                        
                        <!-- /.col -->
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>