<div>
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="#"><span>LabTeam</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="src/image/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <nav class="nav-menu float-right ">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a (click)="loginAdmin()"  style="cursor:pointer ; color: white" target="blank">Sign in</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div *ngFor="let item of ListSlide; let key=index" [class]='key === 0 ? "carousel-item active" : "carousel-item " ' [ngStyle]="{ 'background-image': 'url(' + item.Image + ')'}" >
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animated fadeInDown">{{item.Title}}</h2>
                <p class="animated fadeInUp">{{item.Subtitle}}</p>
                <a href="#portfolio" class="btn-get-started animated fadeInUp">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  
  <main id="main">
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
                <li (click)="activetab=1" [ngClass]="[ activetab === 1 ? 'filter-active' : '' ]" >Projects</li>
                <li (click)="activetab=4" [ngClass]="[ activetab === 4 ? 'filter-active' : '' ]" >OKR</li>
                <li (click)="activetab=2" [ngClass]="[ activetab === 2 ? 'filter-active' : '' ]" >NEWS</li>
                <li (click)="activetab=3" [ngClass]="[ activetab === 3 ? 'filter-active' : '' ]">TRAINING RESOURCES</li>
                <li (click)="activetab=5" [ngClass]="[ activetab === 5 ? 'filter-active' : '' ]">OUR TEAMS</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div *ngFor="let item of ListProject; let i=index" class="col-lg-4 col-md-6 portfolio-item ">
            <div *ngIf="activetab == 1"  class="portfolio-wrap">
              <img [src]="item.Image" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{item.Name}}</h4>
                <div class="portfolio-links">
                  <a [href]="item.Image" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                  <a [href]="item.URL"  target="blank" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col col-xs-12">
                  <div *ngIf="activetab == 2" class="blog-grids">
                    <div *ngFor="let item of ListArticle; let i=index"  class="grid">
                        <div class="entry-media">
                          <ng-container *ngIf="item.Image; else elseTemplate">
                              <img  [src]="item.Image" alt="">
                          </ng-container>
                          <ng-template #elseTemplate>
                              <img [src]="imgdefault" alt="">
                          </ng-template>
                        </div>
                        <div class="entry-body">
                            <h3><a (click)="showdetailnews(item.ID,detailnew)" style="cursor: pointer;color: #6c16e6;">{{item.Name}}</a></h3>
                            <p>{{item.Description}}</p>
                            <div class="read-more-date">
                                <a (click)="showdetailnews(item.ID,detailnew)" style="cursor: pointer;color: #6c16e6;" >Read More..</a>
                            </div>
                        </div>
                    </div>
                    
                  </div>
              </div>
            </div>
          </div>

          <div *ngIf="activetab == 4"  class="col-lg-12 col-md-12 portfolio-item">
            <div class="portfolio-wrap" >
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">List OKR</h5>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <ejs-treegrid
                        #treegrid
                        [dataSource]="dataOkr"
                        childMapping="children"
                        [treeColumnIndex]="1"
                        [allowPaging]="true"
                        [pageSettings]="pageSettings"
                        [allowExcelExport]="true"
                        [allowPdfExport]="true"
                        [allowSorting]="true"
                        [contextMenuItems]="contextMenuItems"
                        [editSettings]="editing"
                        (rowSelected)="rowSelected($event)"
                        (actionComplete)="actionComplete($event)"
                        [searchSettings]="searchSettings"
                        >
                        <e-columns>
                            <e-column
                                field="index"
                                width="100"
                                isPrimaryKey="true"
                                headerText="#"
                                [disableHtmlEncode]="false"
                                >
                            </e-column>
                            <e-column
                                field="title"
                                editType="stringedit"
                                headerText="OKR Name"
                                [edit]="editparams"
                                [disableHtmlEncode]="false"
                                >
                            </e-column>
            
                            <e-column
                                editType="stringedit"
                                headerText=""
                                isPrimaryKey="false"
                                [edit]="editparams"
                                [disableHtmlEncode]="false"
                                >
                                <ng-template #template let-data>
                                    <div class="btn-group btn-group-sm">
                                        <a (click)="OpenDetail(data.key,detail)"  style="cursor: pointer;" class="btn btn-info">
                                            <i style="color:white" class="fas fa-info-circle"></i>
                                        </a>
                                    </div>
                                </ng-template>
                                
                            </e-column>
                        </e-columns>
                    </ejs-treegrid>
                  </div>
                </div>
            </div>
          </div>

          <div *ngIf="activetab == 3"   class="col-lg-12 col-md-12 portfolio-item">
            <div class="portfolio-wrap" >
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">List Project Training</h5>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <ejs-treegrid
                      #treegrid
                      [dataSource]="data"
                      childMapping="children"
                      [treeColumnIndex]="1"
                      [allowPaging]="true"
                      [pageSettings]="pageSettings"
                      [allowExcelExport]="true"
                      [allowPdfExport]="true"
                      [allowSorting]="true"
                      [contextMenuItems]="contextMenuItems"
                      [editSettings]="editing"
                      (rowSelected)="rowSelected($event)"
                      (actionComplete)="actionComplete($event)"
                      [searchSettings]="searchSettings"
                      [toolbar]="toolbar"
                        
                    >
                    <e-columns>
                        <e-column
                          field="index"
                          width="100"
                          isPrimaryKey="true"
                          headerText="#"
                          [disableHtmlEncode]="false">
                        </e-column>
                        <e-column
                          field="title"
                          editType="stringedit"
                          headerText="Project Name"
                          [edit]="editparams"
                          [disableHtmlEncode]="false">
                          <ng-template #template let-data>
                              <a placement="top" tooltip="{{data.title}}">
                                  {{data.title}}
                              </a>
                          </ng-template>
                            
                        </e-column>
                        <e-column field="link" editType="stringedit" headerText="Video Toturial"
                          isPrimaryKey="true"
                          [edit]="editparams"
                          [disableHtmlEncode]="false" >
                          <ng-template #template let-data>
                              <div class="btn-group">
                                  <button *ngIf="data.link" (click)="watchvideo(video)" type="button" mdbBtn  color="danger" rounded="true" size="sm" class="waves-effect"><mdb-icon fas icon="video" class="mr-2"
                                    aria-hidden="true"></mdb-icon>Watch Video</button>
                              </div>
                          </ng-template>
                        </e-column>

                        <e-column field="link" editType="stringedit" headerText="Created Date" isPrimaryKey="true" [edit]="editparams" [disableHtmlEncode]="false" >
                          <ng-template #template let-data>
                            <a>{{data.CreatedDate | date}}</a>
                          </ng-template>
                        </e-column>

                        
                        <e-column field="linkpath" editType="stringedit" headerText="Link Path"
                          [edit]="editparams"
                          [disableHtmlEncode]="false">
                          <ng-template #template let-data>
                              <ng-container *ngIf="data.linkpath == 'null'; else elseTemplate">
                                  <a (click)="open(data.linkpath)" style="cursor:pointer ; color: blue" ></a>
                              </ng-container>
                              <ng-template #elseTemplate>
                                  <a (click)="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                              </ng-template>
                            <!-- <a (click)="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a> -->
                          </ng-template>
                        </e-column>
                      
                        <e-column field="" editType="stringedit" headerText=""
                          width="100"
                          [edit]="editparams"
                          [disableHtmlEncode]="false">
                          <ng-template #template let-data>
                              <i *ngIf="data.linkpath" style="cursor: pointer;font-size: 14px;" (click)="copy(data.linkpath)"  class="far fa-clone"></i>
                          </ng-template>
                        </e-column>
                      </e-columns>
                    </ejs-treegrid>
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="activetab == 5" id="team" class="team">
              <div class="container">
                  <div class="section-title">
                      <h2>Lab Team Member</h2>
                      <!-- <p>Labteam Member.</p> -->
                  </div>
                  <div class="row">
                      <div *ngFor="let item of ListMember; let i=index"  class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                          <div class="member">
                              <div class="pic"><img [src]="item.Image"  class="img-fluid" alt=""></div>
                              <div class="member-info">
                                  <h4>{{item.Name}}</h4>
                                  <span>{{item.JobName}}</span>
                                  <div class="social">
                                      <a href=""><i class="icofont-twitter"></i></a>
                                      <a href=""><i class="icofont-facebook"></i></a>
                                      <a href=""><i class="icofont-instagram"></i></a>
                                      <a href=""><i class="icofont-linkedin"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
          
        </div>

      </div>
    </section>

    <!-- team section -->
    
    <!-- End Our Team Section -->

  </main>


  <!-- <a [routerLink]="['/home']" class="back-to-top"><i class="icofont-simple-up"></i></a> -->
  
  <ng-template #detail let-modal>
      <div class="modal-header">
          <h4 class="modal-title">
              <i class="fas fa-plus"></i> {{title}}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col" style="text-align: center">OKR CONFIDENCE</th>
                      <th scope="col" style="text-align: center">TEAM HEALTH</th>
                      <th scope="col" style="text-align: center">OKR PROGRESS</th>
                      <th scope="col" style="text-align: center">NEXT 4 WEEKS</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td scope="row">
                          <span *ngFor="let item of Confidence; let key=index" >
                              <p style="color:#0479f7" >{{item.Content }}  </p>
                              <hr />
                          </span>
                      </td>
                      <td scope="row" style="text-align: center">
                          <span *ngFor="let item of TeamHealth; let key=index"   class="badge badge-success">{{item.Content}}</span>
                      </td>
                      <td scope="row">
                          <span *ngFor="let item of Progress; let key=index" >
                              <p style="color:#0479f7">{{item.Content}}</p>
                              <hr />
                          </span>
                      </td>
                      <td scope="row">
                          <span *ngFor="let item of NextWeek; let key=index" >
                              <p style="color:#0479f7">{{item.Content}}</p>
                              <hr />
                          </span>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </ng-template>

  <ng-template #detailnew let-modal>
      <div class="modal-header">
          <h4 class="modal-title">
              <i class="fas fa-plus"></i> {{titledetail}}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div [innerHtml]="contentdetail" class="col-lg-12 col-md-12 col-sm-12">
                  
              </div>
          </div>
      </div>
  </ng-template>

  <ng-template #video let-modal>
      <div class="modal-header">
          <h4 class="modal-title">
              {{title}}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" [src]="src | safe: 'resourceUrl'" id="video" width="960" height="540"  allowscriptaccess="always" allowfullscreen  ></iframe>
          </div> 
      </div>
  </ng-template>

</div>