<div>
    <div class="row">
        <div class="col-md-12 pb-4">
        <button
            type="button"
            class="btn bg-gradient-secondary btn-sm"
            (click)="openLgAdd(add)"
        >
            <i class="fas fa-plus"></i> Add Member
        </button>
        </div>
        <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <h5 class="card-title">List Member</h5>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>

                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="card-tools pr-5">
                <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                    </button>
                </div>
                </div>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Member Name</th>
                    <th style="width: 30%">Image</th>
                    <th>Position</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of ListProject ; let key = index">
                    <td>{{item.Position}}</td>
                    <td>{{item.Name}}</td>
                    <td> <img [src]="item.Image" class="img-fluid" alt="" width="50%" height="50%"></td>
                    <td>{{item.JobName}}</td>
                    <td class="py-0 align-middle">
                    <div class="btn-group btn-group-sm">
                        <a (click)="EditMember(item,edit)" style="cursor: pointer;" class="btn btn-info">
                        <i style="color:white" class="fas fa-edit"></i>
                        </a>
                        <a (click)="delete(item.ID)" style="cursor: pointer;"  class="btn btn-danger">
                        <i style="color:white" class="fas fa-trash"></i>
                        </a>
                    </div>
                    </td>
                </tr>
                
                </tbody>
            </table>
            </div>
          
        </div>
      
        </div>
    
    </div>

    <ng-template #add let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Add Team Member 
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form >
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Member Name</label>
                            <input [(ngModel)]="name" name="name" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Position</label>
                            <input [(ngModel)]="position" name="position" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">location</label>
                            <input [(ngModel)]="location" name="location" type="text" id="WorkBy" class="form-control WorkBy" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Image (size:600px * 600px)</label>
                            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                            <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="300" width="300" />                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </ng-template>

    <ng-template #edit let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Edit Team Member 
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form >
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Member Name</label>
                            <input [(ngModel)]="nameEdit" name="nameEdit" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Position</label>
                            <input [(ngModel)]="positionEdit" name="positionEdit" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Location</label>
                            <input [(ngModel)]="locationEdit" name="locationEdit" type="text" id="WorkBy" class="form-control WorkBy" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Image (size:600px * 600px)</label>
                            <input type="file" (change)="fileProgress2($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                            <div class="image-preview mb-3" *ngIf="img" >
                                <img  [src]="img" height="300" width="300" />                 
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="update()" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </ng-template>
</div>