<div>
    <div class="row">
        <div class="col-md-12 pb-4">
        <button
            type="button"
            class="btn bg-gradient-secondary btn-sm"
            (click)="openLgAdd(add)"
        >
            <i class="fas fa-plus"></i> Add Article
        </button>
        </div>
        <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <h5 class="card-title">List Article</h5>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>

                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="card-tools pr-5">
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Article Name</th>
                            <th>Description</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ListArticle ; let key = index">
                            <td>{{key+1}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Description}}</td>
                            <td class="py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                    <a (click)="editArticle(item,edit)" style="cursor: pointer;" class="btn btn-info">
                                        <i style="color:white" class="fas fa-edit"></i>
                                    </a>
                                    <a style="cursor: pointer;"  (click)="remove(item.ID)" class="btn btn-danger">
                                        <i style="color:white" class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            
        </div>
        
        </div>
    
    </div>

    <ng-template #add let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Add Article 
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form >
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input [(ngModel)]="name" name="name" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Thumbnail</label>
                            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                            <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="300" width="300" />                 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            <textarea [(ngModel)]="description" name="description" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Content">Content</label>
                                <!-- <angular-editor placeholder="'Enter text here...'" [config]="editorConfig" [(ngModel)]="content" name="content"></angular-editor> -->
                                <ejs-richtexteditor   #imageRTE id='imageRTE' [insertImageSettings]='insertImageSettings' placeholder='Type Something'  name="name" [(ngModel)]="content" >
                                    
                                </ejs-richtexteditor>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </ng-template>

    <ng-template #edit let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Article Edit
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form >
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input [(ngModel)]="nameEdit" name="nameEdit" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Thumbnail</label>
                            <input type="file" (change)="fileProgress2($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                            <div class="image-preview mb-3" *ngIf="img" >
                                <img  [src]="img" height="300" width="300" />                 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Description</label>
                            <textarea [(ngModel)]="descriptionEdit" name="descriptionEdit" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Content</label>
                            <ejs-richtexteditor   #imageRTE id='imageRTE' [insertImageSettings]='insertImageSettings' placeholder='Type Something'  name="name" [(ngModel)]="contentedit" >
                                    
                            </ejs-richtexteditor>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="update()" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </ng-template>
</div>