<div class="wrapper">
    <app-site-header></app-site-header>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper">
        <app-breadcrumb></app-breadcrumb>
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
    <app-footer></app-footer>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>
