<div>
    <div class="row">
        <div class="col-md-12 pb-4">
        <button
            type="button"
            class="btn bg-gradient-secondary btn-sm"
            (click)="openLg(addModel)"
        >
            <i class="fas fa-plus"></i> Add Project Training
        </button>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">List Project Training</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                <ejs-treegrid
                    #treegrid
                    [dataSource]="data"
                    childMapping="children"
                    [treeColumnIndex]="1"
                    [allowPaging]="true"
                    [pageSettings]="pageSettings"
                    [allowExcelExport]="true"
                    [allowPdfExport]="true"
                    [allowSorting]="true"
                    [contextMenuItems]="contextMenuItems"
                    (contextMenuClick)="contextMenuClick($event,addfunction,edit)"
                    [editSettings]="editing"
                    (rowSelected)="rowSelected($event)"
                    (actionComplete)="actionComplete($event)"
                    [searchSettings]="searchSettings"
                    [toolbar]="toolbar"
                    
                >
                    <e-columns>
                        <e-column
                            field="index"
                            width="100"
                            isPrimaryKey="true"
                            headerText="#"
                            [disableHtmlEncode]="false">
                        </e-column>
                        <e-column
                            field="title"
                            editType="stringedit"
                            headerText="Project Name"
                            [edit]="editparams"
                            [disableHtmlEncode]="false">
                            <ng-template #template let-data>
                                <a placement="top" tooltip="{{data.title}}">
                                    {{data.title}}
                                </a>
                            </ng-template>
                            
                        </e-column>
                        <e-column field="link" editType="stringedit" headerText="Video Toturial"
                            isPrimaryKey="true"
                            [edit]="editparams"
                            [disableHtmlEncode]="false" >
                            <ng-template #template let-data>
                                <div class="btn-group">
                                    <a *ngIf="data.link" (click)="watchvideo(video)" style="cursor:pointer ; color: green"  >Watch Video</a>
                                </div>
                            </ng-template>
                        </e-column>

                        <e-column field="" editType="stringedit" headerText=""
                            width="100"
                            [edit]="editparams"
                            [disableHtmlEncode]="false">
                            <ng-template #template let-data>
                                <i *ngIf="data.linkpath" style="cursor: pointer;font-size: 14px;" (click)="copy(data.linkpath)"  class="far fa-clone"></i>
                            </ng-template>
                            
                        </e-column>

                        <e-column field="linkpath" editType="stringedit" headerText="Link Path"
                            [edit]="editparams"
                            [disableHtmlEncode]="false">
                            <ng-template #template let-data>
                                <ng-container *ngIf="data.linkpath == 'null'; else elseTemplate">
                                    <a (click)="open(data.linkpath)" style="cursor:pointer ; color: blue" ></a>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <a (click)="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                                </ng-template>
                                
                            </ng-template>
                            
                        </e-column>
                    
                    </e-columns>
                </ejs-treegrid>
                </div>
                <!-- ./card-body -->
            </div>
        </div>

        <ng-template #addModel let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-plus"></i> {{modalTitle}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input [(ngModel)]="name" name="name" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Link Path</label>
                            <input [(ngModel)]="pathlink" name="pathlink" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Video Toturial</label>
                            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
            </div>
        </ng-template>

        <ng-template #addfunction let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-plus"></i> {{modalTitle}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input [(ngModel)]="name" name="name" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Link Path</label>
                            <input [(ngModel)]="pathlink" name="pathlink" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Video Toturial</label>
                            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
            </div>
        </ng-template>

        <ng-template #edit let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-plus"></i> {{modalTitle}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input [(ngModel)]="Editname" name="Editname" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Link Path</label>
                            <input [(ngModel)]="Editpath" name="Editpath" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Video Toturial</label>
                            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="update()" class="btn btn-primary">Save changes</button>
            </div>
        </ng-template>

        <ng-template #video let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    {{title}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="src | safe: 'resourceUrl'" id="video" width="960" height="540"  allowscriptaccess="always" allowfullscreen  ></iframe>
                </div> 
            </div>
        </ng-template>
    </div>

</div>