.e-treecell {
    font-size: 16px;
}
.e-treegrid .e-altrow {
    background-color: #1d0b0b26!important;
}
.e-headertext {
font-size: 14px;
font-weight: 600;
color: rgba(0, 0, 0, 0.74);
}
.e-treecell {
font-size: 16px;
}