<footer class="main-footer" id="appFooter">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.2
    </div>
    <strong>
        Copyright &copy; 2020-2021
        <a href="http://adminlte.io">By Lab Team</a>.
    </strong>
    All rights reserved.
</footer>
