<div>

    <div class="row">
        <div class="col-md-12 pb-4">
        <button
            type="button"
            class="btn bg-gradient-secondary btn-sm"
            (click)="openLg(content)"
        >
            <i class="fas fa-plus"></i> Add Slide
        </button>
        </div>
        <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <h5 class="card-title">List Slide</h5>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>

                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="card-tools pr-5">
                <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                    </button>
                </div>
                </div>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <!-- <th>Description</th> -->
                    <th>Image</th>
                    <th>SubTitle</th>
                    <!-- <th>WorkBy</th> -->
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of data; let key = index" >
                    <td>{{key+1}}</td>
                    <td>{{item.Title}}</td>
                    <td> <img [src]="item.Image" class="img-fluid" alt="" width="50%" height="50%"></td>
                    <td>{{item.Subtitle}}</td>
                    <!-- <td>user</td> -->
                    <td class="py-0 align-middle">
                    <div class="btn-group btn-group-sm">
                        <a (click)="Editslide(item,edit)" style="cursor: pointer;" class="btn btn-info">
                        <i style="color:white" class="fas fa-edit"></i>
                        </a>
                        <a (click)="deleteslide(item.ID)" style="cursor: pointer;"   class="btn btn-danger">
                        <i style="color:white" class="fas fa-trash"></i>
                        </a>
                    </div>
                    </td>
                </tr>
                
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>

    <!-- modal -->
    <!-- <div class="modal fade" id="modal-add" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Add Slide
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <form role="form">
                <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Title</label>
                        <input  type="text" id="title" class="form-control title" />
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">SubTitle</label>
                        <input  type="text" id="subtitle" class="form-control subtitle" />
                    </div>
                    </div>
                  
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Image</label>
                        <input type="file" ref="file" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file" />
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        </div>
    </div> -->

    <!-- <div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i>Slide Edit
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                <div class="form-group">
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Title</label>
                    <input  type="text" id="TitleEdit" class="form-control TitleEdit" />
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">SubTitle</label>
                    <input  type="text" id="SubTitleEdit" class="form-control SubTitleEdit" />
                </div>
                </div>
                
                <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Image</label> 
                    <input type="file" ref="file2" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file"  />
                    
                </div>
                </div>
            </div>
            </div>
            <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button  type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div> -->
    
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Project Add
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form >
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Title</label>
                            <input [(ngModel)]="title" name="title" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">SubTitle</label>
                            <input [(ngModel)]="subtitle" name="subtitle" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Image (size:667px * 449px)</label>
                            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                            <!-- <img [src]="imagePreview" ng-show="showPreview"/> -->

                            <!-- <div *ngIf="fileUploadProgress">
                                Upload progress: {{ fileUploadProgress }}
                            </div> -->
                            <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="300" width="300" />                 
                            </div>
                    
                            <!-- <div class="mb-3" *ngIf="uploadedFilePath">
                                {{uploadedFilePath}}
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </ng-template>

    <ng-template #edit let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> Project Edit
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form >
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input [(ngModel)]="TitleEdit" name="TitleEdit" type="text"  class="form-control Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">URL</label>
                            <input [(ngModel)]="SubTitleEdit" name="SubTitleEdit" type="text" id="URL" class="form-control URL" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Image (size:667px * 449px)</label>
                            <input type="file" (change)="fileProgress2($event)" class="form-control UploadedFile" name="UploadedFile"  placeholder="Upload file" />
                            <!-- <img [src]="imagePreview" ng-show="showPreview"/> -->

                            <!-- <div *ngIf="fileUploadProgress">
                                Upload progress: {{ fileUploadProgress }}
                            </div> -->
                            <div class="image-preview mb-3" *ngIf="img" >
                                <img  [src]="img" height="300" width="300" />                 
                            </div>
                            <!-- <div class="image-preview mb-3" *ngIf="previewUrl2">
                                <img [src]="previewUrl2" height="300" width="300" />                 
                            </div> -->
                    
                            <!-- <div class="mb-3" *ngIf="uploadedFilePath">
                                {{uploadedFilePath}}
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button type="submit" (click)="update()" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </ng-template>
</div>
