<div id="sidebar">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      
        <a (click)="returnhome()" *ngIf="role == 1" style="cursor:pointer ; color: white" class="brand-link">
          <img
            src="../../../assets/image/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8"
          />
          <span class="brand-text font-weight-light">LABTEAM</span>
        </a>
      
     
        <a (click)="returnhome()" *ngIf="role == 2" style="cursor:pointer ; color: white" class="brand-link">
          <img
            src="../../../assets/image/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8"
          />
          <span class="brand-text font-weight-light">LABTEAM</span>
        </a>
    

      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <ng-container *ngIf="role==1; else elseTemplate1">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img
                src="../../../assets/image/user2-160x160.jpg"
                class="img-circle elevation-2"
                alt="User Image"
              />
            </div>
            <div  class="info">
              <a href="#/admin" class="d-block">Admin</a>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate1>
          
        </ng-template>
        
        

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ng-container *ngIf="role == 1; else elseTemplate">
            <ul  class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item">
                <a [routerLink]="['/admin-project']"  class="nav-link">
                  <i class="fas fa-project-diagram"></i>
                  <p>Project</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/admin-slide']"   class="nav-link">
                  <i class="fas fa-sliders-h"></i>
                  <p>Carousel</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/article']"  class="nav-link">
                  <i class="nav-icon fas fa-newspaper"></i>
                  <p>Article</p>
                </a>
              </li>
  
              <li class="nav-item">
                <a [routerLink]="['/traning-resources']"  class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  <p>Training Resources</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/okr']" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  <p>OKR</p>
                </a>
              </li>
  
              <li class="nav-item">
                <a [routerLink]="['/team-member']"  class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  <p>Team Member</p>
                </a>
              </li>
              
            </ul>
          </ng-container>
          <ng-template #elseTemplate>
            <ul  class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item">
                <a [routerLink]="['/traning-resources']" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  <p>Training Resources</p>
                </a>
              </li>
            </ul>
          </ng-template>
          
         
        </nav>
      </div>
    </aside>
</div>