<div id="appHeader">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#">
            <i class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            <!-- <i class="fa fa-sign-out"></i> -->
            <span style="font-size: 14px ; width: 90%" class="font-weight-bold text-info">{{currentTime}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" data-toggle="dropdown" href="#">
            {{username}}
          </a>
        </li>
        <li class="nav-item">
          
          <a (click)="logout()" class="nav-link" >
            <i class="fa fa-sign-out"></i> Sign-Out
          </a>
        </li>
      </ul>
    </nav>
</div>
