.main-title {
    font-weight: 500;
  }
  .trashIconContainer {
    vertical-align: middle !important;
    padding-top: 10px;
    text-align: center;
  }
  
  .trashIconContainer i {
    color: #e74c3c;
  }
  
  .btn-success,
  .panel-success {
    background-color: #27c24c !important;
    border-color: #27c24c !important;
    color: #fff !important;
  }
  
  .fa-minus-circle {
    color: #e74c3c;
  }
  .fa-plus-circle {
    color: #27c24c;
  }
  
  .submit_btn {
    min-width: 150px;
    max-width: 250px;
    font-size: 1.2rem;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .submit_btn i {
    padding-right: 10px;
  }
  .form-control {
    display: inline-block;
    width: calc(100% - 45px);
    border: 1px solid #27c24c;
  }
  
  @media (min-width: 768px) {
    .invoice-save-bottom {
      min-width: 400px;
    }
    .right-ads {
      float: left;
    }
    .left-ads {
      float: right;
    }
  }