<div>
    <div class="row">

        <div class="col-md-12 pb-4">
            <button
            type="button"
            class="btn bg-gradient-secondary btn-sm"
            (click)="openLg(addModel)"
            >
            <i class="fas fa-plus"></i> Add OKR
            </button>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">List OKR</h5>
        
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
        
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <ejs-treegrid
                        #treegrid
                        [dataSource]="data"
                        childMapping="children"
                        [treeColumnIndex]="1"
                        [allowPaging]="true"
                        [pageSettings]="pageSettings"
                        [allowExcelExport]="true"
                        [allowPdfExport]="true"
                        [allowSorting]="true"
                        [contextMenuItems]="contextMenuItems"
                        (contextMenuClick)="contextMenuClick($event,addModel,addfunction)"
                        [editSettings]="editing"
                        (rowSelected)="rowSelected($event)"
                        (actionComplete)="actionComplete($event)"
                        [searchSettings]="searchSettings"
                        [toolbar]="toolbar"
                        >
                        <e-columns>
                            <e-column
                                field="index"
                                width="100"
                                isPrimaryKey="true"
                                headerText="#"
                                [disableHtmlEncode]="false"
                                >
                            </e-column>
                            <e-column
                                field="title"
                                editType="stringedit"
                                headerText="OKR Name"
                                [edit]="editparams"
                                [disableHtmlEncode]="false"
                                >
                            </e-column>
            
                            <e-column
                                editType="stringedit"
                                headerText="Options"
                                isPrimaryKey="false"
                                [edit]="editparams"
                                [disableHtmlEncode]="false"
                                >
                                <ng-template #template let-data>
                                    <div class="btn-group btn-group-sm">
                                        <a (click)="EditFunction(data.key,editfunction)" style="cursor: pointer;" class="btn btn-info">
                                            <i style="color:white" class="fas fa-edit"></i>
                                        </a>
                                        <a (click)="Delete(data.key)" style="cursor: pointer;"   class="btn btn-danger">
                                            <i style="color:white" class="fas fa-trash"></i>
                                        </a>
                                        <a (click)="OpenDetail(data.key,detail)"  style="cursor: pointer;" class="btn btn-info">
                                            <i style="color:white" class="fas fa-info-circle"></i>
                                        </a>
                                    </div>
                                </ng-template>
                                
                            </e-column>
                        </e-columns>
                    </ejs-treegrid>
                
                </div>
            </div>
        </div>
    </div>

    <ng-template #addModel let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> {{modalTitle}}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input [(ngModel)]="name" name="name" type="text"  class="form-control Name" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
        </div>
    </ng-template>

    <ng-template #addfunction let-modal>

        <!-- OKR CONFIDENCE -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                <i class="fas fa-plus"></i>
                {{modalTitle}}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>OKR CONFIDENCE</label>
                        <select [(ngModel)]="confi" class="form-control" disabled  >
                            <option *ngFor="let item of options ; let key = index"  [label]="item.Name" [ngValue]="item.Name" ></option>
                        </select>
                    </div>
                    <div class="form-group col-md-12" *ngFor="let input of inputs1 ; let key = index" >
                        <label for="Name">Content</label>
                        <textarea [(ngModel)]="input.name" (keyup)="keyup" class="form-control" rows="5" id="comment"></textarea>
                        <span>
                        <i class="fas fa-minus-circle" (click)="removedetail1(key)" ng-show="key || ( !key && inputs1.length > 1)"></i>
                        <i class="fas fa-plus-circle" (click)="addrowdetail1(key)"  ng-show="key == inputs1.length-1" ></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addDetail1()" >Save changes</button>
            </div>
        </div>
    
        <!-- TEAM HEALTH -->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>TEAM HEALTH</label>
                        <select [(ngModel)]="teamhe"  class="form-control" disabled  >
                            <option *ngFor="let item of options; let key = index " [label]="item.Name"  [ngValue]="item.Name" ></option>
                        </select>
                    </div>
                    <div class="form-group col-md-12" *ngFor="let input of inputs2; let key = index" >
                        <label for="Name">Content</label>
                        <textarea [(ngModel)]="input.name" (keyup)="keyup" class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addDetail2()" >Save changes</button>
            </div>
        </div>

        <!-- OKR PROGRESS -->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                <div class="form-group col-md-12">
                    <label>OKR PROGRESS</label>
                    <select [(ngModel)]="prog" class="form-control" disabled  >
                        <option *ngFor="let item of options ; let key = index" [label]="item.Name"  [ngValue]="item.Name"  ></option>
                    </select>
                </div>
                <div class="form-group col-md-12" *ngFor="let input of inputs3 ; let key = index" >
                    <label for="Name">Content</label>
                    <textarea [(ngModel)]="input.name" (keyup)="keyup"  class="form-control" rows="5" id="comment"></textarea>
                    <!-- <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" /> -->
                    <span>
                    <i class="fas fa-minus-circle" (click)="removedetail2(key)" ng-show="key || ( !key && inputs3.length > 1)" ></i>
                    <i class="fas fa-plus-circle" (click)="addrowdetail2(key)" ng-show ="key == inputs3.length-1" ></i>
                    </span>
                </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addDetail3()" >Save changes</button>
            </div>
        </div>

        <!-- NEXT 4 WEEKS -->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                <div class="form-group col-md-12">
                    <label>NEXT 4 WEEKS</label>
                    <select [(ngModel)]="next" class="form-control" disabled  >
                        <option *ngFor="let item of options ; let key = index" [label]="item.Name"  [ngValue]="item.Name" ></option>
                    </select>
                </div>
                <div class="form-group col-md-12" *ngFor="let input of inputs4 ; let key = index" >
                    <label for="Name">Content</label>
                    <textarea [(ngModel)]="input.name" (keyup)="keyup"  class="form-control" rows="5" id="comment"></textarea>
                    <!-- <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" /> -->
                    <span>
                    <i class="fas fa-minus-circle" (click)="removedetail3(key)" ng-show = "key || ( !key && inputs4.length > 1)" ></i>
                    <i class="fas fa-plus-circle" (click)="addrowdetail3(key)" ng-show = "key == inputs4.length-1" ></i>
                    </span>
                </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addDetail4()" >Save changes</button>
            </div>
        </div>

    </ng-template>


    <ng-template #editfunction let-modal>
        <div class="modal-content confidence">
            <div class="modal-header">
                <h4 class="modal-title">
                <i class="fas fa-plus"></i>
                    Update OKR Detail
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="form-group col-md-12">
                    <label>OKR CONFIDENCE</label>
                    <select [(ngModel)]="confi" class="form-control" disabled  >
                        <option *ngFor="let item of options ; let key = index"  [label]="item.Name"  [ngValue]="item.Name"></option>
                    </select>
                </div>
                <div class="form-group col-md-12" *ngFor="let input of Confidence ; let key = index" >
                    <label for="Name">Content</label>
                    <textarea [(ngModel)]="input.Content" (keyup)="keyup1"  class="form-control" rows="5" id="comment"></textarea>
                    <!-- <input type="text" id="Name" @keyup="keyup1" v-model="input.Content" class="form-control Name" /> -->
                    <span>
                    <i class="fas fa-minus-circle" (click)="remove1(input.ID)"  ng-show="key || ( !key && Confidence.length > 1)"></i>
                    <i class="fas fa-plus-circle" (click)="add1(key)" ng-show="key == Confidence.length-1"></i>
                    </span>
                </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveOKR1()">Save changes</button>
            </div>
        </div>
        
        <div class="modal-content">
        <div class="modal-body">
            <div class="row">
            <div class="form-group col-md-12">
                <label>TEAM HEALTH</label>
                <select [(ngModel)]="teamhe" class="form-control" disabled  >
                    <option *ngFor="let item of options ; let key = index" [label]="item.Name"  [ngValue]="item.Name"></option>
                </select>
            </div>
            <div class="form-group col-md-12" *ngFor="let input of TeamHealth ; let key=index" >
                    <label for="Name">Content</label>
                    <input type="text" id="Name" (keyup)="keyup1" [(ngModel)]="input.Content" class="form-control Name" />
                    <span>
                    </span>
            </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveOKR2()">Save changes</button>
        </div>
        </div>

        <div class="modal-content">
        <div class="modal-body">
            <div class="row">
            <div class="form-group col-md-12">
                <label>OKR PROGRESS</label>
                <select [(ngModel)]="prog" class="form-control" disabled  >
                    <option *ngFor="let item of options; let key=index" [label]="item.Name"  [ngValue]="item.Name"></option>
                </select>
            </div>
            <div class="form-group col-md-12" *ngFor="let input of Progress ; let key = index">
                    <label for="Name">Content</label>
                    <textarea [(ngModel)]="input.Content" (keyup)="keyup1"  class="form-control" rows="5" id="comment"></textarea>
                    <span>
                    <i class="fas fa-minus-circle" (click)="remove2(input.ID)" ng-show="key || ( !key && Progress.length > 1)"></i>
                    <i class="fas fa-plus-circle" (click)="add2(key)" ng-show="key == Progress.length-1"></i>
                    </span>
            </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveOKR3()">Save changes</button>
        </div>
        </div>

        <div class="modal-content">
        <div class="modal-body">
            <div class="row">
            <div class="form-group col-md-12">
                <label>NEXT 4 WEEKS</label>
                <select [(ngModel)]="next" class="form-control" disabled  >
                    <option *ngFor="let item of options; let key=index"  [label]="item.Name"  [ngValue]="item.Name"></option>
                </select>
            </div>
            <div class="form-group col-md-12" *ngFor="let input of NextWeek; let key=index" >
                    <label for="Name">Content</label>
                    <textarea [(ngModel)]="input.Content" (keyup)="keyup1"  class="form-control" rows="5" id="comment"></textarea>
                    <span>
                    <i class="fas fa-minus-circle" (click)="remove3(input.ID)" ng-show="key || ( !key && NextWeek.length > 1)"></i>
                    <i class="fas fa-plus-circle" (click)="add3(key)" ng-show="key == NextWeek.length-1"></i>
                    </span>
            </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveOKR4()">Save changes</button>
        </div>
        </div>
    </ng-template>

    <ng-template #detail let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fas fa-plus"></i> {{title}}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">OKR CONFIDENCE</th>
                        <th scope="col" style="text-align: center">TEAM HEALTH</th>
                        <th scope="col" style="text-align: center">OKR PROGRESS</th>
                        <th scope="col" style="text-align: center">NEXT 4 WEEKS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <span *ngFor="let item of Confidence; let key=index" >
                                <p style="color:#0479f7" >{{item.Content }}  </p>
                                <hr />
                            </span>
                        </td>
                        <td scope="row" style="text-align: center">
                            <span *ngFor="let item of TeamHealth; let key=index"   class="badge badge-success">{{item.Content}}</span>
                        </td>
                        <td scope="row">
                            <span *ngFor="let item of Progress; let key=index" >
                                <p style="color:#0479f7">{{item.Content}}</p>
                                <hr />
                            </span>
                        </td>
                        <td scope="row">
                            <span *ngFor="let item of NextWeek; let key=index" >
                                <p style="color:#0479f7">{{item.Content}}</p>
                                <hr />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>

</div>
